<div class="container-fluid" id="all">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div *ngIf="!loading" class="col-md-6">
            <button class="boton">
                <a class="back" href="login">
                    <img class="imagen" src="../../../assets/flecha-izquierda.png" alt="">
                </a>
            </button>
            <div class="text-center">
                <img src="../../../assets/usuario.png" class="img-fluid" alt="login">
                <h1 class="title">Register</h1>
            </div>
            <form (ngSubmit)="register()" [formGroup]="registerForms">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email"
                        placeholder="name@example.com" #user>
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="password"
                        placeholder="Password" #password>
                    <label for="floatingPassword">Password</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="repeatPassword"
                        placeholder="Repeat Password" #password>
                    <label for="floatingPassword">Repeat Password</label>
                </div>

                <!-- Submit button -->
                <button id="log" type="submit" class="btn btn-primary btn-custom" style="width: 150px;">Register
                </button>
            </form>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>