<div class="container-fluid" id="all">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <div class="text-center">
                <img src="../../../assets/usuario.png" class="img-fluid" alt="login">
                <h1 class="title">Login</h1>
            </div>
            <form (ngSubmit)="login()" [formGroup]="loginUsers">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="name@example.com" #user>
                    <label for="floatingInput">Email address</label>
                </div>

                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="Password" #password>
                    <label for="floatingPassword">Password</label>
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="form-group">
                    <a href="recuperar-password">Forgot password?</a>
                </div>

                <button id="log" type="submit" class="btn btn-primary btn-custom" style="width: 150px;">Sign in</button>
                <!-- Register buttons -->
                <div class="text-center">
                    <p>Not a member? <a href="register">Register</a></p>
                    <p>or sign up with:</p>
                </div>
                <div class="text-center">
                    <button class="btn" (click)="auth.googleAuth()">
                        <img src="../../../assets/google.png" alt="Login with google" class="social-icon">
                    </button>
                    <button class="btn" (click)="auth.gitHubAuth()">
                        <img src="../../../assets/github.png" alt="Login with github" class="social-icon">
                    </button>
                    <button class="btn">
                        <img src="../../../assets/linkedin.png" alt="Login with linkedin" class="social-icon">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>