.social-icon {
    width: 30px; /* Ajusta el tamaño según tus preferencias */
    height: 30px; /* Ajusta el tamaño según tus preferencias */
    margin: 5px; /* Espacio entre las imágenes */
  }

  .btn{
    background-color: transparent;
    border: none;
  }

.title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 36px;
}