.social-icon {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.img-fluid {
  height: 110px;
  padding: 10px;
}

.title {
  font-size: 31px;
}

#log {
  margin: 15px auto;
}

#all {
  text-align: center;
  background-color: blanchedalmond;
}