<div class="all">
    <nav class="py-2 bg-body-tertiary border-bottom">
        <div class="container d-flex flex-wrap">
            <ul class="nav">
                <button type="button" class="btn btn-outline-primary me-2" (click)="logOut()">Log Out</button>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <div class="d-flex align-items-center justify-content-between">
            <span class="fs-4" style="white-space: nowrap;">Clima-App</span>
            <form class="w-100 me-3" role="search" [formGroup]="locations" (ngSubmit)="sendToApi(locations.value)">
                <input type="search" class="form-control ms-2 me-2" placeholder="Search..." aria-label="Search"
                    formControlName="location">
            </form>
            <p class="m-0">Welcome, {{dataUser?.email}}</p>
        </div>
    </div>
    <div class="card" id="list">
        <div class="card text-white bg-primary" style="max-width: 18rem;">
            <div class="card-header text-center">
                <h3 class="card-title">Name City: {{weathersData?.name}}</h3>
                <p>Image</p>
            </div>
            <div class="card-body">
                <p class="list-group-item">Temperature Max:{{weathersData?.main.temp_max}}</p>
                <p class="list-group-item">Temperature Min:{{weathersData?.main.temp_min}}</p>
                <p class="list-group-item">Feels Like: {{weathersData?.main.feels_like}}</p>
                <p class="list-group-item">Pressure: {{weathersData?.main.pressure}}</p>
                <p class="list-group-item">Humidity: {{weathersData?.main.humidity}}</p>
            </div>
        </div>
    </div>
</div>