<div class="container-fluid" id="all">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div *ngIf="!loading" class="col-md-6">
            <button class="boton">
                <a class="back" href="login">
                    <img class="imagen" src="../../../assets/flecha-izquierda.png" alt="">
                </a>
            </button>
            <div class="text-center">
                <img src="../../../assets/usuario.png" class="img-fluid" alt="login">
                <h1 class="title">Recover Password</h1>
            </div>
            <form [formGroup]="recoverUser" (ngSubmit)="recover()">
                <div class="form-floating mb-4">
                    <input type="email" class="form-control" id="floatingInput" formControlName="email"
                        placeholder="name@example.com">
                    <label for="floatingInput">Email address</label>
                </div>
                <!-- Submit button -->
                <button id="log" type="submit" class="btn btn-primary btn-custom" style="width: 150px;">Recover
                </button>
            </form>
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>