<div class="container-fluid" id="all">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-6">
            <button class="boton">
                <a class="back" href="login">
                    <img class="imagen" src="../../../assets/flecha-izquierda.png" alt="">
                </a>
            </button>
            <div class="text-center">
                <img src="../../../assets/usuario.png" class="img-fluid" alt="login">
                <h1 class="title">Recover Password</h1>
            </div>
            <form>
                <div class="form-floating mb-4">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" #password>
                    <label for="floatingPassword">Password</label>
                </div>
                <!-- Submit button -->
                <button id="log" type="button" class="btn btn-primary btn-custom" style="width: 150px;">Recover
                </button>
            </form>
        </div>